<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
  <add name="MotorPitDB" connectionString="Data Source = SQL2016.fse.network;Intial Catalog=db_1626507_1626507_co5027;Persist Security Info=True; User ID=user_db_1626507_1626507_co5027; Password=sh+8hjdW" providerName="System.Data.SqlClient"/>
  
  </connectionStrings>
  <system.web>
    <!--
		<customErrors mode="Off"/>
	    	<compilation debug="true" targetFramework="4.6.2" />
	    	<httpRuntime targetFramework="4.6.2" />
	-->
  </system.web>

</configuration>
